# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Temp files
*.swp
*.swo
*~
temp.json

# Instance folder (configurations)
instance/*
!instance/.gitkeep

# Database
*.db
*.sqlite